 * {
   margin: 0;
   padding: 0;
 }

  body {
    text-align: center;
    align-items: center;
    background: url("../images/adobestockfarmers.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    height: 100%;
    width: 100;
  }

  .logo {
    color: white;
    width: 100%;
  }

  .logo img {
    padding-top: 20px;
    width: 200px;
  }

  .titlebox {
    align-items: center;
    height: 50%;
    color: white;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    padding-bottom: 20px;
    top: 10em;
    z-index: 1;
  }

  .title h1 {
    padding: 15px;
  }

  .description {
    height: 50%;
    border-top: solid;
    border-color: green;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    position:fixed;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    overflow: scroll;
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: 1.2rem;
    z-index: 1;
  }

  .description p {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
  }

  .description p a {
    color: white;
  }

  .description p a:hover {
    color: green;
  }

  @media (max-width: 360px){
    .description{
      padding-left: 0%;
      padding-right: 0%;
    }

    .logo h1 {
      align-items: center;
    }
    .titlebox {
      position: absolute;
      align-items: left;
    }
  }

  @media (max-width: 620px) {
    .titlebox {
      top: 5em;
    }
  }

  @media (max-width: 710px) {
    .titlebox {
      font-size: 0.85rem;
    }
  }

  @media (max-width: 810px){
    .titlebox {
    top: 5em;
    }
  }
